<div class="blog-post">
  <h2 class="blog-post-title">{{ title }}</h2>
  <p class="blog-post-meta">{{ month }} {{ day }}, {{ year }} by
    <a href="#">{{ name }}</a>
  </p>

  <p class="blog-post-summary">
    <b>{{ summary }}</b>
  </p>

  <p class="blog-post-text">
    {{ text }}
  </p>

  <div class="blog-post-crud" *ngIf="!preview">
    <button type="button" class="btn btn-primary" 
      (click)="updateBlog(id)">Update</button>
    <button type="button" class="btn btn-danger"
      (click)="deleteBlog(id)">Delete</button>
  </div>
</div>
<!-- /.blog-post -->