.nav > .dropdown > .dropdown-menu { 
    left: auto;
    right: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.form-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cursor-pointer {
    cursor: pointer;
}