<div class="form-header">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control"
        id="title" formControlName="title" [(ngModel)]="title">
    </div>
    <div class="form-group">
      <label for="name">Author:</label>
      <input type="text" class="form-control"
        list="authors" formControlName="name" [(ngModel)]="name">
      <datalist id="authors">
        <option *ngFor="let author of authors"
          [value]="author._name">{{ author._name }}</option>
      </datalist>
    </div>
    <div class="form-group">
      <label for="summary">Summary:</label>
      <textarea class="form-control" rows="3" id="summary"
        formControlName="summary" [(ngModel)]="summary"></textarea>
    </div>
    <div class="form-group">
      <label for="text">Text:</label>
      <textarea class="form-control" rows="7" id="text"
        formControlName="text" [(ngModel)]="text"></textarea>
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" id="timestamp"
        formControlName="timestamp">
    </div>
    <button type="submit" class="btn btn-primary" 
      [disabled]="!form.valid"
      (click)="submitForm()">Submit</button>
  </form>

  <app-blog-view
    [title]="title"
    [name]="name"
    [summary]="summary"
    [text]="text"></app-blog-view>
</div>